# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/badminton_core_db
POSTGRES_USER=admin_badminton
POSTGRES_PASSWORD=
POSTGRES_DB=badminton_core_db
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5050

#JWT Configuration
JWT_SECRET=MxdD1hW+JfmJHqIoVbKLACEC1LXEQgc90ulzxQurm/k=
JWT_EXPIRATION=7200000

# SSL Configuration
SSL_KEY_PASSWORD=