# Database Configuration
POSTGRES_USER=admin_production
POSTGRES_PASSWORD=MatKhauSieuKho123!@#
POSTGRES_DB=badminton_core_db
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_EMAIL=admin@badminions.com
PGADMIN_PASSWORD=MatKhauQuanTri456!@#
PGADMIN_PORT=5050